Body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:100%;
    width: auto;
}
h1 {
    font: helvetica;
    font-size: 4vw;
    text-align: center
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5vh;
    margin-top:5vh;
}

.about-container {
    background-color: #c9c9c9;
    font-size: 3vh;
    margin: 11vh;
    margin-bottom: 11%;
    padding: 1%;
}

.qual-container{
    background-color: #c9c9c9;
    font-size: 3vh;
    margin: 11vh;
    margin-bottom: 11%;
}

.exp-container{
    background-color: #c9c9c9;
    font-size: 3vh;
    margin: 11vh;
    margin-bottom: 11%;
}

.contact-container{
    width: 80vh;
    text-align: center;
    margin: 0 auto 5%;
    padding: 20px;
    background: #c9c9c9;
}
p {
    text-align: center;
    margin: 2% 0 2% 10%;
    width:80%;
}
.gallery-containter{
   width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background: #c9c9c9;
    padding-bottom:5%;
}
div.gallery {
margin: 20px;
border: 3px solid #c9c9c9;
width: 40%;
display: inline-block;
}
div.gallery:hover {
border: 5px solid #d4d4d4;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
}
.me {
    height:50vh;
    width: auto;
    float:left;
    margin: 0 -13px}

.center {
    margin: auto;
    width: 100%;
    padding: 5px 0 45px 30%;
}
.social{
    height: 10vh;
    width: 10vh;
    margin: 0 15% 10px 10px;
}

footer {
    background-color: #c9c9c9;
}



