Body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
height:100%;
width: auto;
}
h1 {
font: helvetica;
font-size: 4vw;
text-align: center
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5vh;
    margin-top:5vh;
}

.about-container {
background-color: #d4d4d4;
font-size: 3vh;
margin: 11vh;
margin-bottom: 11%;
}

.contact-container{
    width: 80vh;
    text-align: center;
    margin: 0 auto 5vh;
    padding: 20px;
    background: #d4d4d4;
}
p {
    text-align: center;
    margin-left: 15%;
}
.gallery-containter{
   width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background: #d4d4d4; 
}
div.gallery {
margin: 20px;
border: 3px solid #d4d4d4;
width: 40%;
display: inline-block;
}
div.gallery:hover {
border: 5px solid #cf9700;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
}
.me {
    height:50vh;
    width: auto;
    float:left;
    margin: 0 -13px}

.center {
    margin: auto;
    width: 70%;
    padding: 10px 10px 10px;
}
.social{
    height: 10vh;
    width: 10vh;
    margin:0 0 50px 25vh;
}

footer {
    background-color: #d4d4d4;
}



